<!DOCTYPE html>
<html>
<body>
	<h1><img src="{{ application.generateURL("index", "logo")) }}" alt="{{ config.title }}" /></h1>
	<p><b>Form Submission</b></p>
	<p><br /></p>
	<p>ID: {{ id }}<br />Name: {{ name }}<br />Contact: {{ contact }}</p>
	<pre>Message: {{ message }}</pre>
</body>
</html>
